In [1]:
import pandas as pd     # import pandas
import numpy as np      # import numpy

## **Practice Problems**

# **Q1**

In [2]:
# Resources: how to read in csv file in pandas: https://stackoverflow.com/questions/48340341/how-to-read-csv-to-dataframe-in-google-colab
url = "./College.csv"    # Read in College Data, assume it is in the files of the noteboook
data = pd.read_csv(url)
data    # Sanity check

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [3]:
#(a) Which schools are in the top 5 for the percentage of accepted students who actually enroll?

top_id = data['Enroll'].div(data['Accept']).sort_values(ascending=False).nlargest(n=5).index # From pandas notebook
top_schools = data.iloc[top_id.values]['Unnamed: 0']

for x in top_schools.values:  # Show top schools
  print(x)

California Lutheran University
Brewton-Parker College
Mississippi University for Women
Peru State College
Indiana Wesleyan University

In [4]:
#(b) Which are the top 5 colleges in terms of total cost (out-of-state tuition, room and board, books, and personal spending)?


top_expenses = (data['Outstate'] + data['Room.Board'] + data['Books'] + data['Personal']).sort_values(ascending=False)
top5 = top_expenses.nlargest(n=5).index
top_5_expenses = data.iloc[top5.values]['Unnamed: 0']

for x in top_5_expenses.values:  # Show schools with highest expenses
  print(x)

Yale University
Massachusetts Institute of Technology
Princeton University
Georgetown University
Brandeis University

In [5]:
#(c) Which are the top 5 colleges in terms of profit per student? This should be based only on out-of-state tuition revenue. Note that profit is revenue - cost.

top_profit = (data['Outstate'] - top_expenses).sort_values(ascending=False).nlargest(n=5).index
top_5_top_profit = data.iloc[top_profit.values]['Unnamed: 0']

for x in top_5_top_profit.values:  # Show schools with highest expenses
  print(x)

Missouri Southern State College
University of Southern Mississippi
Delta State University
The Citadel
Fayetteville State University

## **Graded**

In [6]:
credit_url = "./Credit.csv" # Import Credit data set.
credit_data = pd.read_csv(credit_url) # Assume it's in your files
credit_data

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

# **Q1**

In [7]:
# Create a new column for the credit utilization for each person (balance divided by limit)

credit_data['Credit Util'] = credit_data['Balance'].div(credit_data['Limit']) # From pandas notebook
credit_data

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Credit Util
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333,0.092346
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903,0.135892
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580,0.081979
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964,0.101431
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331,0.067592
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560,0.136585
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480,0.125065
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138,0.033086
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0,0.000000
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966,0.174873

# **Q2**

In [8]:
# Resources: From "Computations with Categoricals" section of pandas notebook

# What is the average income for each education level?

ed_values = credit_data['Education'].sort_values()        # Sort by education level for clarity
income = credit_data['Income']                            # Get the income data
grade_bins = pd.Series(ed_values, name='education level') # Create a new series to store values

avg_income = (pd.Series(income) # By income
           .groupby(grade_bins) # Categorize by income
           .agg(['mean'])       # Aggregate by mean
           .reset_index())

print("Average incomes for each education level is: \n")
avg_income

Average incomes for each education level is:

    education level       mean
0                 5  34.142000
1                 6  55.376800
2                 7  45.153625
3                 8  66.939500
4                 9  40.387600
5                10  35.514208
6                11  53.092606
7                12  43.401405
8                13  40.077868
9                14  46.467542
10               15  43.938000
11               16  42.881640
12               17  55.284235
13               18  38.112364
14               19  41.441100
15               20  37.607500

# **Q3**

Original submission:

In [9]:
'''
# What is the average income for each age block (Under 19, 20-29, 30-39, etc)?
age_values = np.array(credit_data['Age'])        # Define age array to set bins
age_bins = pd.qcut(age_values, 9, labels=['Under 19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-99']) # Set bins

income = credit_data['Income']  # Get the income data
age_bins = pd.Series(age_bins, name='age bins') # Set Series
avg_income_age = (pd.Series(income)
           .groupby(age_bins)
           .agg(['mean'])       # Get average
           .reset_index())


print("Average income for each age range is: \n \n")
avg_income_age
'''

'\n# What is the average income for each age block (Under 19, 20-29, 30-39, etc)?\nage_values = np.array(credit_data[\'Age\'])        # Define age array to set bins\nage_bins = pd.qcut(age_values, 9, labels=[\'Under 19\', \'20-29\', \'30-39\', \'40-49\', \'50-59\', \'60-69\', \'70-79\', \'80-89\', \'90-99\']) # Set bins\n\nincome = credit_data[\'Income\']  # Get the income data\nage_bins = pd.Series(age_bins, name=\'age bins\') # Set Series\navg_income_age = (pd.Series(income)\n           .groupby(age_bins)\n           .agg([\'mean\'])       # Get average\n           .reset_index())\n\n\nprint("Average income for each age range is: \n \n")\navg_income_age\n'

### Resubmission:

Grader Feedback:
- Steps taken are wrong.
- Eg. there is no one with an age lesser than 20, which means "under 19" should be NaN

In [10]:
#Q3 resubmission
# What is the average income for each age block (Under 19, 20-29, 30-39, etc)?

bins = [0, 20, 30, 40, 50, 60, 70, 80, 90, 100] # Values for bins to use in cut
labels = ['Under 19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-100']
# Reference: Pandas .cut() property documentation
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html
credit_data['Age Block'] = pd.cut(credit_data['Age'], bins=bins, labels=labels, right=False) # Create an Age Block column storing the bins
avg_income_age = credit_data.groupby('Age Block')['Income'].mean() # Calculate average income per bin

print(avg_income_age)

Age Block
Under 19           NaN
20-29        29.441917
30-39        40.223983
40-49        46.570558
50-59        42.459597
60-69        46.909606
70-79        38.628180
80-89        66.189658
90-100      167.337500
Name: Income, dtype: float64

# **Q4**

In [11]:
# What is the average credit utilization for each education level?
cred_util = credit_data['Credit Util']
avg_cred_util = (pd.Series(cred_util)
           .groupby(grade_bins)
           #.agg(['count', 'min', 'max', 'mean'])
           .agg(['mean'])
           .reset_index())

print("Average credit utilization for each education level is: \n \n")
avg_cred_util

Average credit utilization for each education level is:

    education level      mean
0                 5  0.152312
1                 6  0.092089
2                 7  0.086995
3                 8  0.076519
4                 9  0.112524
5                10  0.089977
6                11  0.073683
7                12  0.107112
8                13  0.075812
9                14  0.080559
10               15  0.085680
11               16  0.101892
12               17  0.093898
13               18  0.080240
14               19  0.091220
15               20  0.087277

# **Q5**

Previous submission:

In [12]:
'''
age_values = np.array(credit_data['Age'])        # Define age array to set bins
age_bins = pd.qcut(age_values, 9, labels=['Under 19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-99']) # Set bins

credit = credit_data['Credit Util']  # Get the income data
age_bins = pd.Series(age_bins, name='age bins') # Set Series
avg_credit_age = (pd.Series(credit)
           .groupby(age_bins)
           .agg(['mean'])       # Get average
           .reset_index())

print("Average credit utilization for each age range: \n \n")
avg_credit_age

'''

'\nage_values = np.array(credit_data[\'Age\'])        # Define age array to set bins\nage_bins = pd.qcut(age_values, 9, labels=[\'Under 19\', \'20-29\', \'30-39\', \'40-49\', \'50-59\', \'60-69\', \'70-79\', \'80-89\', \'90-99\']) # Set bins\n\ncredit = credit_data[\'Credit Util\']  # Get the income data\nage_bins = pd.Series(age_bins, name=\'age bins\') # Set Series\navg_credit_age = (pd.Series(credit)\n           .groupby(age_bins)\n           .agg([\'mean\'])       # Get average\n           .reset_index())\n\nprint("Average credit utilization for each age range: \n \n")\navg_credit_age\n\n'

### Resubmission:

Grader Feedback:
- Again, this issue arose due to incorrect bin selection

In [13]:
# Graded Question 5
# 5. What is the average credit utilization for each age block (Under 19, 20-29, 30-39, etc)?
avg_income_cred = credit_data.groupby('Age Block')['Credit Util'].mean() # Calculate the average credit util by age block
print(avg_income_cred)

Age Block
Under 19         NaN
20-29       0.107062
30-39       0.081787
40-49       0.105217
50-59       0.095958
60-69       0.087528
70-79       0.070941
80-89       0.080505
90-100      0.111813
Name: Credit Util, dtype: float64

In [14]:
# Pass: Correctly create the new column and provide the average incomes and credit utilizations.

# Shown above. Sanity check here
credit_data['Credit Util'] = credit_data['Balance'].div(credit_data['Limit'])
credit_data

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Credit Util,Age Block
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333,0.092346,30-39
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903,0.135892,80-89
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580,0.081979,70-79
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964,0.101431,30-39
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331,0.067592,60-69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560,0.136585,30-39
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480,0.125065,60-69
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138,0.033086,60-69
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0,0.000000,40-49
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966,0.174873,60-69